*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  display: grid;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #faeceb;
  overflow: hidden;
}

.container {
  margin: auto;
  width: 20rem;
  height: 13.5rem;
}

.laptop {
  position: absolute;
}

.laptop.top {
  z-index: 1;
  left: 1rem;
  width: 18rem;
  height: 12rem;
  background: #364057;
  border-radius: 1rem 1rem 0 0;
  -webkit-animation: zoomLaptop 0.5s 0.25s both;
  animation: zoomLaptop 0.5s 0.25s both;
}

.screen {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 16rem;
  height: 10rem;
  background: #fafafa;
}

.screen.top {
  top: 0;
  left: 0;
  width: 16rem;
  height: 1.5rem;
  background: #677996;
}

.button {
  position: absolute;
  top: 0.35rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
}

.button:nth-child(1) {
  left: 1rem;
  background: #ff8e8e;
}

.button:nth-child(2) {
  left: 2.25rem;
  background: #ffdda1;
}

.button:nth-child(3) {
  left: 3.50rem;
  background: #7eca99;
}

.screen.image {
  top: 2.5rem;
  width: 5rem;
  height: 3.5rem;
  background: #7cbbff;
  opacity: 0;
  -webkit-animation: fadeImage 0.6s 1s ease-out forwards;
  animation: fadeImage 0.6s 1s ease-out forwards;
}

.line {
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background: #c2cedd;
  opacity: 0;
}

.line:nth-child(1),
.line:nth-child(2),
.line:nth-child(3) {
  left: 7rem;
  -webkit-animation: expandLine 0.5s 1.1s ease-out forwards;
  animation: expandLine 0.5s 1.1s ease-out forwards;
}

.line:nth-child(4),
.line:nth-child(5) {
  left: 1rem;
  -webkit-animation: expandLongLine 0.5s 1.1s ease-out forwards;
  animation: expandLongLine 0.5s 1.1s ease-out forwards;
}

.line:nth-child(1) {
  top: 2.5rem;
}

.line:nth-child(2) {
  top: 4rem;
}

.line:nth-child(3) {
  top: 5.5rem;
}

.line:nth-child(4) {
  top: 7rem;
}

.line:nth-child(5) {
  top: 8.5rem;
}

.laptop.bottom {
  top: 12rem;
  width: 20rem;
  height: 1.5rem;
  background: #9facbd;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#707c9c), color-stop(50%, #9facbd));
  background-image: -webkit-linear-gradient(bottom, #707c9c 0%, #9facbd 50%);
  background-image: -o-linear-gradient(bottom, #707c9c 0%, #9facbd 50%);
  background-image: linear-gradient(to top, #707c9c 0%, #9facbd 50%);
  border-radius: 0.5rem 0.5rem 6rem 6rem;
  -webkit-animation: zoomLaptop 0.5s both;
  animation: zoomLaptop 0.5s both;
}

.laptop.bottom:before {
  position: absolute;
  content: '';
  left: 7rem;
  width: 5rem;
  height: 0.8rem;
  background: #677996;
  border-radius: 0 0 1rem 1rem;
  border-bottom: 0.2rem solid #dfe7f2;
}

@-webkit-keyframes zoomLaptop {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomLaptop {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expandLine {
  0% {
    width: 0;
  }
  50% {
    width:  4rem;
    opacity: 1;
  }
  100% {
    width: 8rem;
    opacity: 1;
  }
}

@keyframes expandLine {
  0% {
    width: 0;
  }
  50% {
    width:  4rem;
    opacity: 1;
  }
  100% {
    width: 8rem;
    opacity: 1;
  }
}

@-webkit-keyframes expandLongLine {
  0% {
    width: 0;
  }
  50% {
    width: 8rem;
    opacity: 1;
  }
  100% {
    width: 14rem;
    opacity: 1;
  }
}

@keyframes expandLongLine {
  0% {
    width: 0;
  }
  50% {
    width: 8rem;
    opacity: 1;
  }
  100% {
    width: 14rem;
    opacity: 1;
  }
}