*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  display: grid;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #25242a;
}

.container {
  margin: auto;
  width: 14rem;
  height: 13.5rem;
}

.crown {
  position: absolute;
}

.crown.top-left {
  top: 1.5rem;
  border-right: 3.5rem solid transparent;
  border-bottom: 5rem solid #feeb42;
}

.crown.top-left:before,
.crown.top-middle:before,
.crown.top-right:before,
.crown.back-left:before,
.crown.back-right:before {
  position: absolute;
  content: '';
  top: -1.1rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(45deg) skew(15deg, 15deg);
  -ms-transform: rotate(45deg) skew(15deg, 15deg);
  transform: rotate(45deg) skew(15deg, 15deg);
}

.crown.top-left:before,
.crown.top-middle:before,
.crown.top-right:before {
  background: #feeb42;
}

.crown.back-left:before,
.crown.back-right:before {
  background: #f59c38;
}

.crown.top-left:before {
  left: -0.4rem;
}

.crown.top-middle {
  top: 1.5rem;
  left: 3.5rem;
  border-left: 3.55rem solid transparent;
  border-right: 3.55rem solid transparent;
  border-bottom: 5rem solid #feeb42;
}

.crown.top-middle:before {
  left: -0.5rem;
}

.crown.top-right {
  top: 1.5rem;
  left: 10.5rem;
  border-left: 3.5rem solid transparent;
  border-bottom: 5rem solid #feeb42;
}

.crown.top-right:before {
  left: -0.55rem;
}

.crown.back-left {
  z-index: -1;
  top: 1.5rem;
  border-left: 3.5rem solid transparent;
  border-right: 3.5rem solid transparent;
  border-bottom: 5rem solid #f59c38;
}

.crown.back-left:before {
  left: -0.45rem;
}

.crown.back-right {
  z-index: -1;
  top: 1.5rem;
  left: 7rem;
  border-left: 3.5rem solid transparent;
  border-right: 3.5rem solid transparent;
  border-bottom: 5rem solid #f59c38;
}

.crown.back-right:before {
  left: -0.5rem;
}

.crown.middle {
  top: 6.45rem;
  width: 14rem;
  height: 6rem;
  background: #feeb42;
}

.crown.bottom {
  top: 12rem;
  width: 14rem;
  height: 1.5rem;
  background: #feeb42;
  border-top: 0.4rem solid #f59c38;
}

.jewel {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
}

.jewel.red.left,
.jewel.red.right,
.jewel.blue {
  top: 6.5rem;
  -webkit-transform: rotate(45deg) skew(15deg, 15deg);
  -ms-transform: rotate(45deg) skew(15deg, 15deg);
  transform: rotate(45deg) skew(15deg, 15deg);
}

.jewel.red.left {
  left: -1.75rem;
  background: #f2403e;
  background-image: -webkit-gradient(linear, right top, left top, from(#c90042), to(#f2403e));
  background-image: -webkit-linear-gradient(right, #c90042 0%, #f2403e 100%);
  background-image: -o-linear-gradient(right, #c90042 0%, #f2403e 100%);
  background-image: linear-gradient(to left, #c90042 0%, #f2403e 100%);
}

.jewel.red.right {
  left: 12.25rem;
  background: #f2403e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c90042), to(#f2403e));
  background-image: -webkit-linear-gradient(bottom, #c90042 0%, #f2403e 100%);
  background-image: -o-linear-gradient(bottom, #c90042 0%, #f2403e 100%);
  background-image: linear-gradient(to top, #c90042 0%, #f2403e 100%);
}

.jewel.blue {
  left: 5.25rem;
  background: #849bd4;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8369b2), to(#849bd4));
  background-image: -webkit-linear-gradient(bottom, #8369b2 0%, #849bd4 100%);
  background-image: -o-linear-gradient(bottom, #8369b2 0%, #849bd4 100%);
  background-image: linear-gradient(to top, #8369b2 0%, #849bd4 100%);
}