*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  display: grid;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #add8f0;
}

.container {
  margin: auto;
  width: 16rem;
  height: 17rem;
}

.fruit,
.top {
  z-index: 0;
  position: absolute;
}

.fruit.shape {
  top: 3rem;
  left: 0.5rem;
  width: 15rem;
  height: 14rem;
  background: #f49c00;
  background-image: -webkit-radial-gradient(circle 10rem at center, #f8c626 0%, #f49c00 47%, #c64f17 100%);
  background-image: -o-radial-gradient(circle 10rem at center, #f8c626 0%, #f49c00 47%, #c64f17 100%);
  background-image: radial-gradient(circle 10rem at center, #f8c626 0%, #f49c00 47%, #c64f17 100%);
  border-radius: 100%;
  -webkit-box-shadow: inset -0.5rem -0.5rem 1.25rem rgba(255, 233, 179, 0.65);
  box-shadow: inset -0.5rem -0.5rem 1.25rem rgba(255, 233, 179, 0.65);
}

.top.stem {
  z-index: 1;
  left: 7.35rem;
  width: 0.5rem;
  height: 4rem;
  background: #72b70d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f860c), to(#72b70d));
  background-image: -webkit-linear-gradient(top, #4f860c 0%, #72b70d 100%);
  background-image: -o-linear-gradient(top, #4f860c 0%, #72b70d 100%);
  background-image: linear-gradient(to bottom, #4f860c 0%, #72b70d 100%);
  border-radius: 0.1rem 0.1rem 0 0;
}

.top.leaf {
  z-index: 1;
  top: 0.2rem;
  left: 3.2rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #72b70d;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4f860c), to(#72b70d));
  background-image: -webkit-linear-gradient(bottom, #4f860c 0%, #72b70d 100%);
  background-image: -o-linear-gradient(bottom, #4f860c 0%, #72b70d 100%);
  background-image: linear-gradient(to top, #4f860c 0%, #72b70d 100%);
  border-radius: 50% / 0% 100%;
  -webkit-transform: rotate(-85deg) skewY(30deg);
  -ms-transform: rotate(-85deg) skewY(30deg);
  transform: rotate(-85deg) skewY(30deg);
  overflow: hidden;
}

.top.oval {
  top: 3.7rem;
  left: 6.125rem;
  width: 3rem;
  height: 0.8rem;
  background: #72b70d;
  background-image: -webkit-radial-gradient(#72b70d 25%, #4f860c 100%);
  background-image: -o-radial-gradient(#72b70d 25%, #4f860c 100%);
  background-image: radial-gradient(#72b70d 25%, #4f860c 100%);
  border-radius: 100%;
  -webkit-box-shadow: 0 0.1rem 0.8rem 0.1rem #d46819;
  box-shadow: 0 0.1rem 0.8rem 0.1rem #d46819;
}